.contenedor{
    position: relative;
    height: 500px;
}

.imagen-fondo{
    background-image: url('https://herrerosargentinos.com.ar/archivos/muebles-para-tv-95d2.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.sobreposicion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

}

.contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}